/*------------------- 
common
---------------------
header
---------------------
index
---------------------
footer
---------------------
popups
---------------------
item
---------------------
shop
---------------------
price
---------------------*/

/*---------------------
common
---------------------*/

*, *::before, *::after {
	box-sizing: inherit;
}

html {
 	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
 	border: 0;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
	font-family: "PT Sans Narrow", sans-serif;	
	background: #eee;
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
	line-height: 42px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

a, .btn {
	cursor: pointer;
}

div {
	outline: 1px solid red;
}

.upper {
	text-transform: uppercase;
}
.noup {
	text-transform: none;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

.clearfix::after{
	content: "";
  	display: table;
  	clear: both;
}

/*---------------------
header
---------------------*/

header {
	margin-bottom: 60px; 
	outline: 1px solid red;
}

.logo {
	outline: 1px solid red;
	display: inline-block;
	float: left;
	width: 140px;
	margin-right: 20px;
	margin-left: 20px;
}

.main-navigation {
	outline: 1px solid red;
	width: 630px;
	float: left;
	min-height: 70px;
}

.user-block {
	width: 100px;
	float: right;
}

.index-logo {
	width: 372px;
	margin: auto;
	margin-bottom: 60px;
}

/*---------------------
index
---------------------*/

.features {
	margin-bottom: 80px;
}
.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item:last-child {
	margin-right: 0;
}

.index-content {
	padding: 55px 80px;
	margin-bottom: 36px;
}

.index-content-left {
	float: left;
	width: 380px;	
}

.index-content-right {
	float: right;
	width: 300px;	
}

/*---------------------
footer
---------------------*/

footer {
	outline: 1px solid red;
}

.main-footer {
	margin-top: 65px;
	padding-top: 36px;
	padding-bottom: 44px;
}

.main-footer-other {
	margin-top: 48px;
	padding-top: 36px;
	padding-bottom: 44px;
}

.footer-contacts {
	width: 320px;
	float: left;
	margin-right: 60px;
}

.footer-social {
	width: 200px;
	float: left;
}

.footer-copyright {
	width: 140px;
	float: right;
}

/*---------------------
popups
---------------------*/

.popup-log {
	width: 460px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 52px 80px;
	padding-bottom: 58px;
}

.popup-map {
	width: 780px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

/*---------------------
item
---------------------*/

.breadcrumbs {
	margin-bottom: 60px; 
}

.product-gallery {
	float: left;
	width: 460px;
}

.product-gallery-img {
	float: left;
	margin-right: 20px;
	margin-bottom: 0px;
}

.product-gallery-img:last-child {
	margin-right: 0;
}

.main-pic {
	margin-bottom: 15px;
}

.product-info-block {
	float: right;
	width: 400px;
	padding-left: 10px;
	padding-top: 20px;
}

/*--------------------
shop
----------------------*/

.filter-side-block {
	float: left;
	width: 200px;
}

.product-side-block {
	float: right;
	width: 700px;
}

.products-grid {
	margin-bottom: 25px;
	font-size: 0;
}
.product-card {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 220px;
	font-size: 14px;
}

.product-card:nth-child(3n) {
	margin-right: 0px;
}

/*-----------------------
price
-----------------------*/

.we-use {
	float: left;
	width: 240px;
}

.price-table {
	float: right;
	width: 460px;
}

.price-table table {
	width: 100%;
}

.about-us-left {
	float: left;
	width: 400px;
	margin-right: 80px;
}

.about-us-right {
	float: right;
	width: 400px;
}