/*------------------- 
common
---------------------
header
---------------------
index
---------------------
footer
---------------------
popups
---------------------
item
---------------------
shop
---------------------
price
---------------------*/

/*---------------------
common
---------------------*/

*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

html {
 	-webkit-box-sizing: border-box;
 	        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;			
	color: #000;
	background-color: #242424;
	background-image: url("../img/cards-bg.jpg");
	text-transform: uppercase;
}

.main-body {
	color: #fff;
	background-color: #000;
	background-image: url("../img/tint.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

h1 {
	font-size: 30px;
	line-height: 42px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

p, ul {
	margin: 0;
	padding: 0;
} 

a, .btn {
	cursor: pointer;
}

.upper {
	text-transform: uppercase;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

button {
	outline: none;
}

.btn {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	padding: 10px 0;
	background-color: #000;
	color: #fff;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
	cursor: default;
	opacity: 0.5;
}

.btn-small {
	width: 140px;
}

/*---------------------
header
---------------------*/

.main-header {
	margin-bottom: 58px; 
	background-color: #000;
	color: #fff;
}

.main-header-other {
	margin-bottom: 50px; 
	background-color: #000;
	color: #fff;
}

.flex-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.logo {
	padding-top: 20px;
	width: 140px;
	margin-right: -10px;
	margin-left: 20px;
}

.index-logo {
	width: 372px;
	height: 155px;
	margin: 0 auto;
	margin-bottom: 74px;
}

.index-logo img {
	width: 100%;
	height: auto;
}

.main-navigation {
	width: 630px;
}

.main-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0; 
}

.main-navigation a {
	position: relative;
	display: block;
	padding: 25px 20px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}

.main-navigation a::after {
	content: "";
	display: none;
	position: absolute;
	height: 4px;
	bottom: 0px;
	left: 20px;
	right: 20px;
	background-color: #fff;
}

.main-navigation a.active::after {
	display: block;
}

.main-navigation a.active:hover {
	background-color: #000;
	cursor: default;
}

.main-navigation a:hover,
.main-navigation a.active.inner:hover {
	background-color: #242424;
	cursor: pointer;
}

.user-block {
	margin-left: auto;
	width: 100px;
	max-width: 140px;
}

.login {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 25px 20px;
	padding-left: 46px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	text-decoration: none;
}

.login:hover {
	background-color: #242424;
}

.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 18px;
	width: 14px;
	height: 14px;
	background-image: url("../img/sprite.png");
	background-position: -39px 0px;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.login:hover::before {
	opacity: 1;
}

/*---------------------
index
---------------------*/

.features {
	margin-bottom: 78px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.features-item {
	width: 300px;
	text-align: center;
}

.features-item p {
	margin: 10px;
	margin-bottom: 0;
} 

.features-name {
	position: relative;
	display: block;
	padding-top: 0;
	padding-bottom: 32px;
	margin-bottom: 28px;
	font-size: 30px;
	line-height: 42px;
}

.features-name::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	display: block;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.index-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 46px 80px;
	padding-bottom: 50px;
	margin-bottom: 36px;
	background-color: #f8f5f2;
	background: 
			url("../img/stroke-shadow.png") no-repeat center,
			url("../img/cards-bg.jpg");
	color: #000;
}

.index-content-left {
	width: 380px;	
}

.index-content-right {
	width: 300px;	
}

.index-content-title {
	margin: 0;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.news-preview {
	padding: 0;
	margin-bottom: 28px;
	list-style: none;
}

.news-preview li {
	margin-bottom: 20px;
}

.news-preview a {
	color: #000;
	text-decoration: none;
}

.news-preview p {
	margin-bottom: 0;
}

.news-preview time {
	text-transform: none;
}

.gallery-content {
	width: 286px;
	height: 164px;
	border: 7px solid #ffffff;
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	margin-bottom: 37px;
}

.gallery-content img {
	width: 100%;
	height: auto;
}

.btn-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.index-content-left .btn-row {
	width: 300px;

}

.index-content-left .address {
	margin-bottom: 20px;
}

.index-content-left .time {
	margin-bottom: 22px;
}

.pre-form-text {
	margin-bottom: 0;
}

.appointment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 10px;
}

.input-field {
	width: 140px;
	margin-bottom: 10px;
}

.appointment-form input {
	background-color: #f9f6f3;
	border: 2px solid #000;
	padding: 12px;
	width: 140px;
	margin-top: 0px;
	outline: none;
}

.appointment-form input:focus {
	border-color: #663d15;
}

.appointment-form label {
	display: block;
	padding-left: 16px; 
	padding-bottom: 6px;
}

.appointment-form .btn {
	width: 100%;
	margin-top: 8px;
}

/*---------------------
footer
---------------------*/

footer {
	/*/*outline: 1px solid red;*/
	background-color: #222;
	background-image: url("../img/footer-bg.jpg");
	color: #fff;
}

.main-footer {
	margin-top: 64px;
	padding-top: 59px;
	padding-bottom: 44px;
}

.main-footer-other {
	margin-top: 48px;
	padding-top: 57px;
	padding-bottom: 44px;
	-webkit-box-shadow: inset 0px 20px 30px 0px #000;
	        box-shadow: inset 0px 20px 30px 0px #000;
}

.flex-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-contacts {
	width: 310px;
	margin-right: 90px;
}

.footer-contacts a {
	color: #fff;
}

.footer-social {
	margin-right: auto;
	text-align: center;
}

.footer-social ul {
	margin-top: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
}

.footer-social li {
	display: inline-block;
	margin-right: 6px;
	
}

.btn.social-btn {
	background-color: #000;
	width: 43px;
	height: 43px;
}

.social-btn:hover {
	-webkit-filter: invert(100%);
	        filter: invert(100%);

}
.social-btn-vk {
	background: url("../img/vk.png") no-repeat center center;
}
.social-btn-fb {
	background: url("../img/facebook.png") no-repeat center center;
}
.social-btn-inst {
	background: url("../img/instagram.png") no-repeat center center;
}

.footer-copyright {
	text-align: center;
	width: 140px;
}

.footer-copyright .btn.btn-small {
	margin-top: 14px;
	background-color: #000;
}

.footer-copyright .btn.btn-small:hover {
	-webkit-filter: invert(100%);
	        filter: invert(100%);
}

/*---------------------
popups
---------------------*/

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.popup-log {
	position: fixed;
	top: 120px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	width: 460px;
	padding: 50px 80px;
	padding-bottom: 58px;
	display: none;
	background-color: #f8f5f2;
	background-image: url("../img/cards-bg.jpg");
	color: #000;
	-webkit-box-shadow: 0 0 15px 1px #000;
	        box-shadow: 0 0 15px 1px #000;
	z-index: 20;
}

.popup-map {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 780px;
	display: none;
	background-image: url("../img/map.jpg");
	border: 7px solid #fff; 
}

.popup-map iframe {
	width: 0;
	height: 0;
	width: 100%;
	height: 600px;
	border: none;
}

.popup-close {
	position: absolute;
	top:5px;
	right: -29px;
	width: 19px;
	height: 19px;
	border: none;
	outline: none;
	background-color: transparent;
	background-image: url("../img/sprite.png");
	background-position: -34px -30px;
	cursor: pointer;
}

.popup-close:hover {
	opacity: 0.8;
}

.popup-header {
	margin-bottom: 20px;
}

.popup-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.popup-text {
	margin-bottom: 10px;
}

.popup-form input[type="text"], 
.popup-form input[type="password"] {
	width: 100%;
	margin-bottom: 8px;
	padding: 12px;
	padding-right: 35px;
	border: 2px solid #000;	
	color: #000;
}

.popup-form input:focus {
	outline: none;
	border-color: #663d15;
}
.popup-form input[type="checkbox"] + label {
	position: relative;
	padding-left: 30px;
}

.popup-login {
	position: relative;
}

.popup-login::before {
	content: "";
	position: absolute;
	right: 15px;
	top:15px;
	height: 13px;
	width: 13px;
	background-image: url("../img/sprite.png");
	background-position: 0px -35px;
}

.popup-password {
	position: relative;
}

.popup-password::before {
	content: "";
	position: absolute;
	right: 15px;
	top:14px;
	height: 15px;
	width: 13px;
	background-image: url("../img/sprite.png");
	background-position: -38px -14px;
}

.help-pass {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 12px;
}

.popup-form .help-pass label {
	margin-right: auto;
}

.popup-form .help-pass label::before {
	top: 3px;
}

.popup-form .help-pass input:checked + label::after {
	top: 6px;
}

.help-pass a {
	color: #000;
}

.popup-show {
	display: block;
}

/*---------------------
item
---------------------*/

.breadcrumbs {
	margin-bottom: 50px; 
}

.breadcrumbs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
}

.breadcrumbs li {
	position: relative;
	padding-left: 40px;
}

.breadcrumbs li:before {
	content: "";
	position: absolute;	
	background-color: #000;
	width: 7px;
	height: 7px;
	left:16px;
	top: 8px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
.breadcrumbs li:first-child {
	padding-left: 0;
}

.breadcrumbs li:first-child:before {
	display: none;
}

.breadcrumbs a{
	text-decoration: none; 
	color: inherit;
}

.breadcrumbs a:hover {
	color: #663d15;
}

.breadcrumbs a:active, 
.breadcrumbs a.active {
	color: #ccc;
	cursor: default;
}

.main-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 2px;
}

.product-gallery {
	width: 460px;	
	margin-top: 2px;
}

.pic-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 22px;
}

.main-pic {
	width: 460px;
	height: 498px;
}

.small-pic {
	width: 140px;
	height: 149px;
}

.product-gallery img {
	width: 100%;
	height: auto;
}

.product-gallery-img {
	overflow: hidden;
	-webkit-box-shadow: 0 0 15px 5px #ccc;
	        box-shadow: 0 0 15px 5px #ccc;
}

.product-info-block {
	width: 390px;
	padding-top: 23px;
}

.product-description .price-and-buy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 43px;
	margin-bottom: 62px;
	margin-top: 34px;
}

.product-description .price-and-buy span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #e5e5e5;
	color: #000;
	width: 110px;
}

.product-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 30px;
}

.product-article {
	opacity: 0.3;
}

.product-inside ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 28px;
}

.product-inside li {
	position: relative;
	padding-left: 21px;
	margin-bottom: 0px;
}

.product-inside li:before{
	content: "";
	position: absolute;
	background-color: #000;
	width: 7px;
	height: 7px;
	left:3px;
	top: 8px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}
	


/*--------------------
shop
----------------------*/

.filter-side-block {
	width: 200px;
	margin-top: -4px;
}

.filter-side fieldset {
	margin: 0;
	margin-bottom: 31px;
	padding: 0;
	border: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.filter-side legend {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 30px;
}

.filter-input {
	margin-bottom: 19px;
	padding-left: 42px;
	position: relative;
	font-size: 14px;
	line-height: 18px;
	vertical-align: bottom;
}

/*---------------------checkboxes-------------------------------*/


input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	cursor: pointer;
	
}
input[type="checkbox"] + label::before {
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	top: -2px;
	left:0;
	border: 2px solid #000;
}

input[type="checkbox"]:checked + label::after {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	top:1px;
	left:3px;
	background-image: url("../img/cross.png");
	background-repeat: no-repeat;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
	cursor: pointer;
}

input[type="radio"] + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: -1px;
	left: 0;
	border: 2px solid #000;
	border-radius: 10px;
}

input[type="radio"]:checked + label::after {
	content: "";
	position: absolute;
	height: 8px;
	width: 8px;
	top: 5px;
	left: 6px;
	background-color: #000;
	border-radius: 10px;
}


input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
	color: #663d15;
}

input:disabled + label,
input:disabled + label::after,
input:disabled + label::before,
input:disabled + label:hover {
	border-color: #ccc;
	color: #ccc;
	cursor: default;
}

input:disabled:checked + label::after {
	opacity: 0.3;
}

/*-------------------------------------------------*/

.filter-side .btn-show {
	width: 112px;
	margin-top: 2px;
}

.product-side-block {
	width: 700px;
}

.products-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 22px;
}

.product-card {
	width: 220px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 2px #ccc;
	        box-shadow: 0px 0px 15px 2px #ccc;
}

.product-card:hover {
	-webkit-box-shadow: 0px 0px 15px 2px #aaa;
	        box-shadow: 0px 0px 15px 2px #aaa; 
}

.product-shop-img {
	width: 220px;
	height: 165px;
}

.product-shop-img img{
	width: 100%;
	height: auto;
}

.product-card h2 {
	padding-left: 16px;
	margin-top: 14px;
	margin-bottom: 13px;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
}

.product-card a {
	color: #000;
	text-decoration: none;
}

.product-card .price-and-buy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 16px 16px;
	padding-top: 0px;
}

.product-card .price-and-buy span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 109px;
	background-color: #e5e5e5;
	color: #000;
}

.price-and-buy .product-btn {
	font-size: 14px;
	line-height: 24px;
	min-width: 78px;
	color: #fff;
}

.products-pagination {
	
}

.products-pagination ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.products-pagination li {
	margin-right: 6px;
	width: 44px;	
}

.products-pagination a {
	display: block;
	width: 44px;	
}

.products-pagination a.active {
	background-color: #fff;	
	color: #000;
}



/*-----------------------
price
-----------------------*/

.price-content h2 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.price-content p {
	margin-top: 10px;
	margin-bottom: 20px;
}

.price-title {
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 16px;
}

.heading-classic {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 50px;
	margin-top: -4px;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
}

.heading-classic span {
	display: inline-block;
	padding: 0 24px;
}

.heading-classic .line {
	height: 2px;
	background-color: #000;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.we-use-and-price {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 40px;
}

.we-use {
	width: 240px;
}

.price-content ul {
	margin: 0;
	margin-top: 27px;
	padding: 0;
	list-style: none;
}

.price-content li {
	position: relative;
	margin-bottom: 14px;
	padding-left: 20px;
}

.price-content li:before {
	position: absolute;
	content: "";
	background-color: #000;
	width: 7px;
	height: 7px;
	left:0px;
	top: 8px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.we-use a{
	text-decoration: none;
	color: #000;
}

.price-table {
	width: 460px;
}

.price-content table {
	margin-top: 34px;
	width: 100%;
	border-collapse: collapse; 	
}

.price-content td {
	border: 2px solid #000;
	padding: 8px;
	padding-left: 16px;
	width: 50%
}

.price-tabel-title {
	width: 180px;
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 34px;
}

.price-table .price-text{
	text-align: center;
}

.about-us-title {
	margin-bottom: 30px;
}

.about-us-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 9px;
}

.about-us-left {
	width: 400px;
}

.about-us-right {
	width: 460px;
	padding-right: 80px;
}