/*------------------- 
common
---------------------
header
---------------------
index
---------------------
footer
---------------------
popups
---------------------
item
---------------------
shop
---------------------
price
---------------------*/

/*---------------------
common
---------------------*/

*, *::before, *::after {
	box-sizing: inherit;
}

html {
 	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-width: 960;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	font-weight: bold;
	font-family: "PT Sans Narrow", sans-serif;	
	background: #eee;
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
	line-height: 42px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

a, .btn {
	cursor: pointer;
}

div {
	outline: 1px solid red;
}

.upper {
	text-transform: uppercase;
}

.noup {
	text-transform: none;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}


/*---------------------
header
---------------------*/

.main-header {
	margin-bottom: 60px; 
	outline: 1px solid red;
}

.flex-header {
	display: flex;
}

.logo {
	padding-top: 20px;
	width: 140px;
	margin-right: 20px;
	margin-left: 20px;
}

.main-navigation {
	outline: 1px solid red;
	width: 630px;
}

.main-navigation ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0; 
}

.main-navigation a {
	display: block;
	padding: 20px;
}

.main-navigation a:hover {
	background-color: #ccc;;
}

.user-block {
	margin-left: auto;
	width: 100px;
}

.index-logo {
	width: 372px;
	margin: 0 auto;
	margin-bottom: 74px;
}

/*---------------------
index
---------------------*/

.features {
	margin-bottom: 80px;
	display: flex;
	justify-content: space-between;
}
.features-item {
	width: 300px;
}

.index-content {
	display: flex;
	justify-content: space-between;
	padding: 55px 80px;
	margin-bottom: 36px;
}

.index-content-left {
	width: 380px;	
}

.index-content-right {
	width: 300px;	
}

.gallery-content {
	width: 286px;
	height: 164px;
  	border: 7px solid #ffffff;
  	box-sizing: content-box;
  	margin-bottom: 37px;
}

.gallery-content img {
  width: 100%;
  height: auto;
}

.btn-row {
	display: flex;
	justify-content: space-between;
}

.appointment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
}

.input-field {
	width: 140px;
	margin-bottom: 12px;
}

.appointment-form input {
  width: 140px;
}
/*---------------------
footer
---------------------*/

footer {
	outline: 1px solid red;
}

.main-footer {
	margin-top: 65px;
	padding-top: 36px;
	padding-bottom: 44px;
}

.main-footer-other {
	margin-top: 48px;
	padding-top: 36px;
	padding-bottom: 44px;
}

.flex-footer {
	display: flex;
}

.footer-contacts {
	width: 310px;
	margin-right: 90px;
}

.footer-social {
	width: 180px;
	margin-right: auto;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer-copyright {
	width: 140px;
}

/*---------------------
popups
---------------------*/

.popup-log {
	width: 460px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	padding: 52px 80px;
	padding-bottom: 58px;
}

.popup-map {
	width: 780px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

/*---------------------
item
---------------------*/

.breadcrumbs {
	margin-bottom: 60px; 
}

.breadcrumbs ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.breadcrumbs li {
	padding-left: 40px;
}

.breadcrumbs li:first-child {
	padding-left: 0;
}

.main-content {
	display: flex;
	justify-content: space-between;
}

.product-gallery {
	width: 460px;
	overflow: hidden;	
}

.pic-row {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.main-pic {
	width: 460px;
	height: 498px;
}

.small-pic {
	width: 140px;
	height: 149px;
}

.product-gallery img {
	width: 100%;
	height: auto;
}

.product-gallery-img {
	overflow: hidden;
}

.product-info-block {
	width: 390px;
	padding-top: 20px;
}

/*--------------------
shop
----------------------*/
.filter-side-block {
	width: 200px;
}

form fieldset {
	border: none;
	display: flex;
	flex-direction: column;
}

.product-side-block {
	width: 700px;
}

.products-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 25px;
}
.product-card {
	width: 220px;
	padding-bottom: 20px;
	overflow: hidden;
}

.product-shop-img {
	width: 220px;
	height: 165px;
}

.product-shop-img img{
	width: 100%;
	height: auto;
}

.products-pagination {
	
}

.products-pagination ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.products-pagination li {
	margin-right: 6px;
}
/*-----------------------
price
-----------------------*/

.we-use-and-price {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}
.we-use {
	width: 240px;
}

.price-table {
	width: 460px;
}

.price-table table {
	width: 100%;
}

.about-us-text {
	display: flex;
	justify-content: space-between;
}
.about-us-left {
	width: 400px;
}

.about-us-right {
	width: 400px;
}