/*-------------------
common
---------------------
header
---------------------
index
---------------------
contacts
---------------------
footer
---------------------
popup
---------------------
catalog
---------------------*/

/*---------------------
common
---------------------*/

*, *::before, *::after{
    box-sizing: inherit;
}

html{
   box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
 	border: 0;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	font-family: "Roboto Regular", sans-serif;	
}

h1 {
	font-size: 55px;
	line-height: 55px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	font-family: "Roboto", sans-serif;
}

a, .btn {
	cursor: pointer;
}

div {
	outline: 1px solid red;
}

.container {
	width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}

.upper {
	text-transform: uppercase;
}

.main-header, 
.slider-wrapper, 
.main-heading {
	background-color: #eeeeee;
}

/*-----------------------------
header
-----------------------------*/

header { 
	outline: 1px solid red;
} 

.flex-header {
	display: flex;
}

.main-header {
	padding-top: 48px;
}

.logo {
	outline: 1px solid red;
	width: 160px;
	margin-right: 200px;
}

.main-navigation {
	width: 640px;
}

.main-navigation ul {
	list-style: none;
}
.cart {
	width: 80px;
	margin-left: auto;
}

.main-heading {
	padding-bottom: 116px;
	padding-top: 80px;

}
.main-heading h1{
	margin: 0;
}

/*-----------------
index
-------------------*/

.offers {
	margin-top: 80px;
}

.flex-offers {
	display: flex;
	justify-content: flex-start;
}

.offer-item {
	width: 300px;
	margin-right: 100px;
}

.info-block {
	margin-top: 55px;
}
.flex-info {
	display: flex;
	justify-content: space-between;
}

.studio-description {
	width: 680px;
}

.studio-numbers {
	width: 360px;
}

.info-side-list {
	display: flex;
	justify-content: space-between;
}

.projects {
	display: flex;
	align-items: center;
	padding: 48px 0;
}
.project-img {

}

.academy-img {
	margin-left: 30px;
	margin-right: 96px;
}

.barbershop-img {
	margin-right: 106px;
}

.pink-img {
	margin-right: 120px;
}

.project-img:last-child {
	margin-right: 0;
}

/*------------------
contacts
---------------*/

iframe {
	width: 100%;
}

.contacts-card {
	width: 320px;
	padding: 50px;
}

/*---------------------
footer
-----------------*/

.main-footer {
	padding: 71px 0;
}

.flex-footer {
	display: flex;
}

.footer-social {
	width: 280px;
	margin-right: 120px;
}

.footer-social ul {
	list-style: none;
}

.footer-text-block {

}

/*------------------
popup
--------------------*/

.popup {
	width: 960px;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 68px;
	padding-bottom: 85px;
	margin: auto;
}

/*---------------
catalog
-----------------*/
.main-content {
	margin-top: 60px;
}

.flex-main {
	display: flex;
	justify-content: space-between;
}
.filter-side-block {
	width: 260px;
}

.product-side-block {
	width: 760px;
}

.products-grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.product-card {
	width: 360px;
	margin-bottom: 32px;
}

.products-pagination ul {
	list-style: none;
}